$main: #ffcf00;
$accent-black: #2c2c2c;
$background-white: rgb(248, 248, 248);

$black: #000000;
$white: #ffffff;

$blue-kids: #abd9ff;
$blue: #006db7;
$red: #d0021b;

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Bold.woff2") format("woff2");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Cera Pro", sans-serif;
}
