@use "global.scss" as *;
@use "screens.scss" as *;

%center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  height: 75px;
  padding: 0 30px;
  width: 100%;

  background-color: $main;

  display: flex;
  align-items: center;

  .logo {
    margin-right: 50px;
  }

  .navbar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    nav {
      ul {
        @extend %center;

        list-style-type: none;

        a {
          vertical-align: middle;
          text-decoration: none;
          color: $black;
          cursor: pointer;
          margin-right: 50px;
        }
        li:not(.friends) {
          font-weight: 500;
          border-bottom: 3px solid transparent;
          &:hover {
            border-color: $black;
          }
        }

        .friends {
          vertical-align: middle;

          padding: 5px 20px;
          background-color: $white;
          color: #d0021b;
          font-weight: normal;

          border-radius: 4px;
          &:hover {
            background-color: $black;
            color: $white;
          }
        }
      }
    }

    .actions {
      @extend %center;

      button {
        margin-right: 20px;
        border: 0;
        background-color: transparent;
        cursor: pointer;
      }

      .search {
        @extend %center;

        background-color: $white;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 100%;
        margin-right: 40px;
      }

      .user {
        @extend %center;

        .cart-content {
          vertical-align: top;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
