@use "global.scss" as *;
@use "screens.scss" as *;

.header-top-container {
  background-color: $background-white;
}

.header-top {
  color: $accent-black;
  height: 55px;
  padding: 0 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;

  max-width: 100rem;
  margin: 0 auto;

  @include md {
    display: flex !important;
  }

  .btn {
    display: none;
    @include md {
      display: block;
    }
  }

  .play-zone {
    font-weight: 600;
    font-size: 12px;

    background-color: $blue-kids;

    border: 0;
    border-radius: 3px;

    padding: 4px 10px;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: $white;
    }
  }

  .center {
    max-width: 100%;
    font-size: 0.75rem;
    margin: 0 auto;

    @include md {
      max-width: 34.68rem;
    }

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .cross {
      position: absolute;
      right: 0;
      top: 18px;

      display: block;

      @include md {
        display: none;
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      color: $accent-black;
      cursor: pointer;
      // TODO: Known bug: when width lower than 400px, buttons are getting bigger
    }
  }

  .right {
    display: none;
    @include md {
      display: flex;
    }
    align-items: center;
    justify-content: space-between;
  }

  .icon-button {
    background-color: transparent;
    border: 0;
    padding: 0 10px;
    cursor: pointer;
  }

  .icon-text {
    p {
      display: none;
    }
    @include lg {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      font-size: 12px;
      font-weight: 500;
      p {
        display: block;
      }
    }
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}

.seperator-v {
  height: 20px;
  width: 1px;
  margin: 0 8px;
  background-color: $accent-black;
}
