@use "global.scss" as *;
@use "screens.scss" as *;
.hero {
  max-width: 1600px;
  position: relative;

  display: grid;
  grid-template-areas: "stack";

  margin: 0 auto;

  cursor: pointer;

  .hero-content {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: $white;
    text-align: center;
    transform: translateY(-7px);
    padding: 20px 30px;

    h2 {
      font-weight: normal;
      font-size: 18px;
    }

    p {
      font-size: 14px;
      line-height: 1.75rem;
    }
    background-color: rgb(57, 36, 115);
    @include sm {
      grid-area: stack;
      justify-self: flex-end;

      text-align: right;

      align-items: flex-end;
      max-width: 55%;

      padding: 20px 60px 20px 10px;

      background-color: transparent;

      transform: translateY(0);

      h2 {
        font-size: 20px;
      }

      .hero-buttons {
        justify-content: flex-end;
      }
    }

    @include md {
      padding: 20px 110px 20px 100px;

      h2 {
        font-size: 32px;
      }
      p {
        font-size: 18px;
      }
      .hero-button {
        font-size: 16px;
      }
    }

    @include custom(1200px) {
      h2 {
        font-size: 40px;
      }
    }
  }

  .hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 1rem;

    margin-top: 1rem;

    font-size: 14px;
    .hero-button {
      border: 0;
      background-color: $white;

      display: flex;
      align-items: center;
      gap: 12px;

      font-size: 1em;
      font-weight: 500;

      border-radius: $rounding;
      cursor: pointer;

      padding: 10px 20px;
      width: auto;

      @include md {
        padding: 15px 20px;
      }
    }
  }

  .video-container {
    grid-area: stack;
    position: relative;
  }

  .hero-friends {
    position: absolute;

    bottom: 0;
    right: 0;

    margin: 10px 15px;

    z-index: 5;
    @include sm {
      bottom: 0;
      left: 0;
    }
  }

  .play-stop-button {
    position: absolute;

    top: 0;
    right: 0;

    width: 40px;
    height: 40px;

    margin: 0.5rem;

    @include md {
      margin: 1rem;
    }
    button {
      border: 0;
      background-color: transparent;
      cursor: pointer;
      padding: 0;
      margin: 0;
    }
  }
}
