.header .navbar .actions .user, .header .navbar .actions .search, .header .navbar .actions, .header .navbar nav ul, .header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  background-color: #ffffff;
  border-bottom: 2px solid #ffcf00;
}
@media (min-width: 900px) {
  .header-container {
    border-bottom: 0;
    background-color: #ffcf00;
  }
}

.header {
  height: 3.125rem;
  padding: 0 1.25rem;
  max-width: 100rem;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
}
@media (min-width: 900px) {
  .header {
    height: 4.6875rem;
    padding: 0 1.875rem;
  }
}
@media (min-width: 900px) {
  .header .menu {
    display: none;
  }
}
.header .menu .menu-button {
  border: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 1.25rem 0 0;
  cursor: pointer;
  font-size: 0.5rem;
}
.header .menu .menu-button .hamburger {
  margin: 0.3125rem 0;
  transition: transform 0.3s ease 0s;
}
.header .menu .menu-button .hamburger::after, .header .menu .menu-button .hamburger::before {
  background-color: #000000;
  border-radius: 2px;
  content: "";
  display: block;
  height: 2px;
  margin: 2px auto;
  transition: all 0.3s ease;
  width: 20px;
}
.header .menu .menu-button .hamburger[aria-expanded=true]::before {
  transform: rotate(-45deg);
  transform-origin: 14px 4px;
}
.header .menu .menu-button .hamburger[aria-expanded=true]::after {
  transform: rotate(45deg);
  transform-origin: 9px 0px;
}
.header .logo {
  margin-right: 3.125rem;
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
}
@media (min-width: 900px) {
  .header .logo {
    width: 3.4375rem;
    height: 3.4375rem;
  }
}
.header .navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.header .navbar nav {
  display: none;
}
@media (min-width: 900px) {
  .header .navbar nav {
    display: block;
  }
}
.header .navbar nav ul {
  list-style-type: none;
}
.header .navbar nav ul a {
  vertical-align: middle;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  margin-right: 3.125rem;
}
.header .navbar nav ul li {
  font-weight: 500;
  border-bottom: 3px solid transparent;
}
.header .navbar nav ul li:hover {
  border-color: #000000;
}
.header .navbar .actions {
  margin-left: auto;
}
@media (min-width: 900px) {
  .header .navbar .actions {
    margin-left: 0;
  }
}
.header .navbar .actions .btn {
  margin-right: 1.25rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.header .navbar .actions .search {
  cursor: pointer;
}
@media (min-width: 900px) {
  .header .navbar .actions .search {
    background-color: #ffffff;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    margin-right: 2.5rem;
  }
}
.header .navbar .actions .search-container {
  display: none;
  z-index: 100;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  width: 18.75rem;
  height: 2.5rem;
  padding: 1rem;
  margin-right: 2.5rem;
  border-radius: 1.25rem;
}
.header .navbar .actions .search-container .search-close {
  border: 0;
  padding-top: 0.25rem;
  background-color: transparent;
  cursor: pointer;
}
.header .navbar .actions .search-container .search-input {
  padding: 0.5rem 1rem 0.5rem 0;
  border: 0;
  font-size: 0.875rem;
  color: #2c2c2c;
}
.header .navbar .actions .search-container .search-input:focus-within {
  outline: none;
}
.header .navbar .actions .search-container .search-img {
  cursor: pointer;
}
@media (min-width: 900px) {
  .header .navbar .actions #nav-account {
    display: none;
  }
}
.header .navbar .actions .user .cart {
  margin-right: 0;
  font-size: 0.75rem;
  transform: translateY(0.3125rem);
}
.header .navbar .actions .user .cart .cart-content {
  display: block;
}
.header .navbar .actions .user .cart:hover .cart-content {
  text-decoration: underline;
}
@media (min-width: 900px) {
  .header .navbar .actions .user .cart {
    transform: translateY(0);
  }
  .header .navbar .actions .user .cart .cart-content {
    vertical-align: top;
    display: inline-block;
    padding-top: 0.125rem;
  }
}

header {
  position: sticky;
  top: 0;
  transition: 400ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

header {
  z-index: 10;
}

header.scroll-up,
header:focus-within {
  top: 0;
}

header.scroll-down {
  top: -100%;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
}

/*# sourceMappingURL=header.css.map */
