@use "../screens.scss" as *;
@use "../global.scss" as *;

.desktop-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  min-height: 100vh;

  background-color: $white;

  z-index: 30;

  @include md {
    display: block;
    width: 40.625rem;
  }

  @include lg {
    width: 47.1875rem;
  }

  .desktop-menu-close {
    position: absolute;
    top: 2.1875rem;
    right: 3.125rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }

  //   &[aria-expanded="true"]{

  //   }
}
.desktop-menu-container {
  position: absolute;
  top: 8.2rem;
  left: 8.5rem;
  // height: 100%;
  .desktop-menu-items {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;

    width: 14.375rem;

    .desktop-menu-item {
      border: 0;
      background-color: transparent;
      font-size: 1rem;
      font-weight: 400;

      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }
}
